In [1]:
import sqlite3
con = sqlite3.connect("db1")

In [2]:
cur = con.cursor()

In [3]:
cur.execute("create table person(id int,name varchar(250),age int)")

In [4]:
cur.execute("insert into person(id,name,age) values(1,'jay',4)")

In [5]:
con.commit()

In [6]:
cur.execute("insert into person(id,name,age) values(1,'jay',4)")
con.commit()

In [7]:
cur.execute("insert into person(id,name,age) values(2,'vedha',2)")
con.commit()

In [8]:
cur.execute("select * from person")

In [9]:
data = cur.fetchall()

In [10]:
print(data)

[(1, 'jay', 4), (1, 'jay', 4), (2, 'vedha', 2)]

In [11]:
from pymongo import MongoClient

In [12]:
con = MongoClient("mongodb://localhost:27017/")

In [13]:
# database
db = con["test"]

In [14]:
#table
collection = db["collection"]

In [15]:
person={"id":1,"age":23,"sal":24234}
collection.insert_one(person)

In [16]:
data = collection.find()
print(data)

<pymongo.cursor.Cursor object at 0x7f7d5f822710>

In [17]:
print([i for i in data])

[{'_id': ObjectId('5dd9f7afbf0735ea2a279501'), 'id': 1, 'age': 23, 'sal': 24234}]

In [18]:
persons=[{"id":1,"age":23,"sal":24234},{"id":1,"age":23,"sal":24234},
        {"id":1,"age":23,"sal":24234},{"id":1,"age":23,"sal":24234},]
collection.insert_many(persons)

In [19]:
data = collection.find()
print([i for i in data])

[{'_id': ObjectId('5dd9f7afbf0735ea2a279501'), 'id': 1, 'age': 23, 'sal': 24234}, {'_id': ObjectId('5dd9f7ffbf0735ea2a279502'), 'id': 1, 'age': 23, 'sal': 24234}, {'_id': ObjectId('5dd9f7ffbf0735ea2a279503'), 'id': 1, 'age': 23, 'sal': 24234}, {'_id': ObjectId('5dd9f7ffbf0735ea2a279504'), 'id': 1, 'age': 23, 'sal': 24234}, {'_id': ObjectId('5dd9f7ffbf0735ea2a279505'), 'id': 1, 'age': 23, 'sal': 24234}]

In [20]:
import psycopg2

In [21]:
con = psycopg2.connect(database="db1",host="localhost",user="postgres",password="root",port=5432)

In [22]:
cur=con.cursor()

In [23]:
cur.execute("create table person(id int,name varchar(250),age int)")
cur.execute("insert into person(id,name,age) values(2,'vedha',2)")
cur.execute("insert into person(id,name,age) values(3,'vedha5',5)")
con.commit()

In [24]:
q="update person set name='VEDHA' where id=2"
cur.execute(q)
con.commit()

In [26]:
q="delete from person where id=2"
cur.execute(q)
con.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [27]:
con = psycopg2.connect(database="db1",host="localhost",user="postgres",password="root",port=5432)
cur=con.cursor()
q="delete from person where id=2"
cur.execute(q)
con.commit()

In [29]:
con.close()

In [30]:
#sqlalchemy