In [1]:
def upper():
    print("upper")
    def inner():
        print("this is inner")
res=upper()
print("result=",res)

upper
result= None

In [2]:
def upper():
    print("upper")
    def inner():
        print("this is inner")
    return inner
res=upper()
print("result=",res)

upper
result= <function upper.<locals>.inner at 0x7fc01d48ce18>

In [4]:
def upper():
    print("upper")
    def inner():
        print("this is inner")
    return inner
res=upper()
print("result=",res)
res()

upper
result= <function upper.<locals>.inner at 0x7fc020dde7b8>
this is inner

In [5]:
def fun():
    print("hello")
r=fun
print("r=",r)

r= <function fun at 0x7fc01cba5c80>

In [6]:
def fun():
    print("hello")
r=fun
print("r=",r)
print(type(r))

r= <function fun at 0x7fc01cba58c8>
<class 'function'>

In [7]:
def fun():
    print("hello")
r=fun
r()

hello

In [8]:
def fun(f,x,y):
    res=f(x,y)
    print("result=",res)
def fun1(x,y):
    return x+y
fun(fun1,10,20)

result= 30

In [9]:
def outer(f):
    def inner(*args):
        res=f(*args)
        return "Result=",res
    return inner
def add(x,y):
    return x+y
def mul(x,y):
    return x*y
r1=outer(add)
res = r1(10,20)
print(res)

('Result=', 30)

In [10]:
def outer(f):
    def inner(*args):
        res=f(*args)
        return "Result=",res
    return inner
def add(x,y):
    return x+y
def mul(x,y):
    return x*y
#r1=outer(add)
#res = r1(10,20)
res=add(10,20)
print(res)

30

In [11]:
def outer(f): #closure
    def inner(*args):
        res=f(*args)
        return "Result=",res
    return inner
@outer #decorator
def add(x,y):
    return x+y
def mul(x,y):
    return x*y
#r1=outer(add)
#res = r1(10,20)
res=add(10,20)
print(res)

('Result=', 30)

In [13]:
def get_products():
    return ["p1","p3","p2"]
def get_vendors():
    return ["v1","v3","v2"]
def get_customers():
    return ["c1","c3","c2"]
print(get_products())
print(get_vendors())
print(get_customers())

['p1', 'p3', 'p2']
['v1', 'v3', 'v2']
['c1', 'c3', 'c2']

In [14]:
def sort(f):
    def inner():
        res=f()
        res.sort()
        return res
    return inner
@sort
def get_products():
    return ["p1","p3","p2"]
@sort
def get_vendors():
    return ["v1","v3","v2"]
@sort
def get_customers():
    return ["c1","c3","c2"]
print(get_products())
print(get_vendors())
print(get_customers())

['p1', 'p2', 'p3']
['v1', 'v2', 'v3']
['c1', 'c2', 'c3']

In [15]:
class Emp:
    company_name="KHYAATHI"
    company_address="Maithrivanam"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def get(self):
        return self.name,self.id,self.company_address,self.company_name
    def get_company(self):
        return self.company_address,self.company_name
jay=Emp("Jayaram",23)
print(jay.get())
print(jay.get_company())

('Jayaram', 23, 'Maithrivanam', 'KHYAATHI')
('Maithrivanam', 'KHYAATHI')

In [17]:
class Emp:
    company_name="KHYAATHI"
    company_address="Maithrivanam"
    # company_address, company_name are class object attributes
    def __init__(self,name,e_id):
        self.name=name # name and id are data object attributes
        self.id=e_id
    def get(self):
        return self.name,self.id,self.company_address,self.company_name
    def get_company(self):
        return self.company_address,self.company_name
print(Emp.company_name,Emp.company_address)

KHYAATHI Maithrivanam

In [18]:
class Emp:
    company_name="KHYAATHI"
    company_address="Maithrivanam"
    # company_address, company_name are class object attributes
    def __init__(self,name,e_id):
        self.name=name # name and id are data object attributes
        self.id=e_id
    def get(self):
        return self.name,self.id,self.company_address,self.company_name
    def get_company(self):
        return self.company_address,self.company_name
print(Emp.get_company())

TypeError: get_company() missing 1 required positional argument: 'self'

In [19]:
class Emp:
    company_name="KHYAATHI"
    company_address="Maithrivanam"
    # company_address, company_name are class object attributes
    def __init__(self,name,e_id):
        self.name=name # name and id are data object attributes
        self.id=e_id
    def get(self): #instance method
        return self.name,self.id,self.company_address,self.company_name
    @classmethod
    def get_company(self): # class method
        return self.company_address,self.company_name
print(Emp.get_company())

('Maithrivanam', 'KHYAATHI')

In [20]:
class Emp:
    company_name="KHYAATHI"
    company_address="Maithrivanam"
    # company_address, company_name are class object attributes
    def __init__(self,name,e_id):
        self.name=name # name and id are data object attributes
        self.id=e_id
    def get(self): #instance method
        return self.name,self.id,self.company_address,self.company_name
    @classmethod
    def get_company(self): # class method
        return self.company_address,self.company_name
print(Emp.get_company())
jay=Emp("Jayaram",23)
print(jay.get_company())

('Maithrivanam', 'KHYAATHI')
('Maithrivanam', 'KHYAATHI')

In [21]:
t=[1,2]
t1=[3,4]
t+t1

[1, 2, 3, 4]

In [22]:
t=(1,2)
t1=(3,4)
t+t1

(1, 2, 3, 4)

In [24]:
class Emp:
    company_name="KHYAATHI"
    company_address="Maithrivanam"
    # company_address, company_name are class object attributes
    def __init__(self,name,e_id):
        self.name=name # name and id are data object attributes
        self.id=e_id
    def get(self): #instance method
        return self.name,self.id,self.company_address,self.company_name
    @classmethod
    def get_company(self): # static method
        return self.company_address,self.company_name
    @staticmethod
    def sta(x,y):
        print(x,y)
print(Emp.get_company())
jay=Emp("Jayaram",23)
print(jay.get_company())
jay.sta(10,20)
Emp.sta(1000,200)

('Maithrivanam', 'KHYAATHI')
('Maithrivanam', 'KHYAATHI')
10 20
1000 200

In [25]:
class Emp:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
        self.name="%s %s"%(self.first_name,self.last_name)
jay=Emp("jayaram","guduru")
print(jay.name)

jayaram guduru

In [26]:
class Emp:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
        self.name="%s %s"%(self.first_name,self.last_name)
jay=Emp("jayaram","guduru")
print(jay.name)
jay.first_name="JAYARAM"
print(jay.name)

jayaram guduru
jayaram guduru

In [27]:
class Emp:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def name(self):
        return "%s %s"%(self.first_name,self.last_name)
jay=Emp("jayaram","guduru")
print(jay.name())
jay.first_name="JAYARAM"
print(jay.name())

jayaram guduru
JAYARAM guduru

In [28]:
class Emp:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def name(self):
        return "%s %s"%(self.first_name,self.last_name)
jay=Emp("jayaram","guduru")
print(jay.name)
jay.first_name="JAYARAM"
print(jay.name)

<bound method Emp.name of <__main__.Emp object at 0x7fc007a8bdd8>>
<bound method Emp.name of <__main__.Emp object at 0x7fc007a8bdd8>>

In [29]:
class Emp:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    @property
    def name(self):
        return "%s %s"%(self.first_name,self.last_name)
jay=Emp("jayaram","guduru")
print(jay.name)
jay.first_name="JAYARAM"
print(jay.name)

jayaram guduru
JAYARAM guduru

In [30]:
class Emp:
    def __init__(self,name):
        self.name=name
jay=Emp("Jayaram")
vedha=Emp("vedhanvesh")
sai=Emp("sailaxmi")
dhana=Emp("Dhana")

In [32]:
class Emp:
    count=0
    def __init__(self,name):
        self.count=self.count+1
        self.name=name
jay=Emp("Jayaram")
vedha=Emp("vedhanvesh")
sai=Emp("sailaxmi")
dhana=Emp("Dhana")
print(Emp.count)

0

In [35]:
class Emp:
    count=0
    def __new__(cls,*args,**kwargs):
        obj=object.__new__(cls)
        cls.count=cls.count+1
        return obj
    def __init__(self,name):
        
        self.count=self.count+1
        self.name=name
jay=Emp("Jayaram")
vedha=Emp("vedhanvesh")
sai=Emp("sailaxmi")
dhana=Emp("Dhana")
print(Emp.count)

4

In [36]:
#singleton
class Emp:
    count=0
    def __new__(cls,*args,**kwargs):
        if cls.count==0:
            obj=object.__new__(cls)
            cls.count=cls.count+1
            return obj
        else:
            raise Exception("can create only one object")
    def __init__(self,name):
        
        self.count=self.count+1
        self.name=name
jay=Emp("Jayaram")
print(jay.name)
vedha=Emp("vedhanvesh")
sai=Emp("sailaxmi")
dhana=Emp("Dhana")
print(Emp.count)

Jayaram

Exception: can create only one object

In [37]:
#solid

In [ ]:
#learning python Edition 5 pdf